.jumbotron {
  background-color: #e8ff00;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0px 10px;
  background-color: #79ab0c;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  background-color: #f77979;
  margin-top: 15px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
  color: yellow;
}
.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
  padding-right: 0px;
}
