@yellow: #e8ff00;
@red: #f77979;
@green: #79ab0c;

.margenes(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.rellenos(@top, rigth) {
    padding-top: @top;
    padding-right: @rigth;
}

.colores(@color) {
    color: @color;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
}

.footer {
    padding: 10px 10px 0px 10px;
    background-color: @green;
    .margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    background-color: @red;
    .margenes(15px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    .colores(yellow);
}

.footer-address-icon {
    .rellenos(0px, 10px);
}

.tab-content {
    .rellenos(10px, 0px);
}