$yellow: #fff000;
$red: #f77979;
$green: #79ab0c;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin rellenos($top, $rigth) {
    padding-top: $top;
    padding-right: $rigth;
}

@mixin colores($color) {
    color: $color;
}


.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}

.footer {
    padding: 10px 10px 0px 10px;
    background-color: $green;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    background-color: $red;
    @include margenes(15px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    @include colores(yellow);
}

.footer-address-icon {
    @include rellenos(0px, 10px);
}

.tab-content {
    @include rellenos(10px, 0px);
}